.chart-filter-buttons-container{
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chart-filter-buttons{
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 15px;

  p{
    user-select: none;
  }

  .chart-filter-button{
    min-width: 125px;
    margin: 0px 10px;
  }

  .chart-filter-button-current{
    border-radius: 5px;
    background:#F5F5F5;
    box-shadow: 0 0 1px 1px#A9A9A9;
    box-sizing: border-box;
    padding: 3px 10px;
    transition: all .3s;
  }
  .chart-filter-button-current:hover{
    cursor: pointer;
    background: white;
  }

  .cfbc-active{
    background: white;
  }
}

.filter-button-dropdown-list{

  position: absolute;
  top: 23vh;
  box-shadow: 0 0 1px 1px#A9A9A9;
  border-radius: 5px;
  z-index: 5;


  p {
    user-select: none;
  }

  .filter-button-dropdown-listitem{
    padding: 5px;
    background: white;
    border-radius: 5px;
    transition: all .3s;
    user-select: none;
  }

  .filter-button-dropdown-listitem:not(:last-of-type){
    border-bottom: 1px solid #A9A9A9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .filter-button-dropdown-listitem:hover{
    cursor: pointer;
    background: #F5F5F5;
  }

  .filter-button-dropdown-list:hover{
    cursor: pointer;
  }

}

.exec-fetch-button{
  height: 25px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 1px 1px #A9A9A9;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 15px;
  transition: all .3s;
  p{
    text-align: center;
  }
}


.exec-fetch-button:hover{
  cursor: pointer;
  background: whitesmoke;
}

#exec-fetch-button-active{
  background: black;
  color: white;
}

.floating-warning{
  color: gray;
  font-size: 16px;
}