.chart-display-container{
  height: 87%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

}

.chart-display-buttons{
  width: 100%;
  display: flex;
  margin: 0 20%;
  padding: 0px 15%;
  box-sizing: border-box;

  .chart-display-button{
    position: relative;
    height: 25px;
    width: 60px;
    margin: 10px 20px 10px 55px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    background:#F5F5F5;
    box-shadow: 0 0 1px 1px#A9A9A9;

    transition: all .3s;
  }

  .chart-display-button:hover{
    cursor: pointer;
    color: white;
    background: black;
  }

  #chart-display-button-active{
    color: white;
    background: black;
  }

}