.chart-display-container{
  height: 85%;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 6px 1px #BEBEBE;

  background: white;

}

.chart-display-buttons{
  width: 100%;
  min-width: 300px;
  min-height: 10%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2% 30% 2% 30%;
  padding: 0px 16%;

  box-sizing: border-box;

  .chart-display-button{
    position: relative;
    height: 25px;
    padding: 0px 10px;
    margin: 10px 20px 10px 55px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    background:#F5F5F5;
    box-shadow: 0 0 1px 1px#A9A9A9;

    transition: all .3s;
  }

  .chart-display-button:hover{
    cursor: pointer;
    color: white;
    background: black;
  }

  #chart-display-button-active{
    color: white;
    background: black;
  }

}
