.header-container{
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  box-sizing: border-box;
  padding: 2% 10%;
  border-radius: 3px;
  p{
    user-select: none;
  }

}

.header{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 3%;
  
  box-shadow: 0 0 6px 1px gray;
  border-radius: 5px;
  
  color: white;
  background: #1976d2;

}

.header-section{
  min-width: 250px;
}

.header-header{
  font-size: 30px;
}

.header-nav{
  width: 10%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  
  margin-top: 4vh;
}

.header-button{
  height: 25px;
  width: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .header-button-underline{
    width: 0px;
    height: 1px;
    border-bottom: 1px solid black;
    transition: all .7s;
  }

}

.header-button:hover{
  cursor: pointer;
  border-bottom-color: black;
  .header-button-underline{
    width: 100%;
  }
}



.header-button-label{
  text-align: center;
}
